@model Vidly.ViewModels.FormCustomerViewModel
@{
    ViewBag.Title = "Customer Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Heading</h1>
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "please fix highlined errors")
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerDto.name)
        @Html.TextBoxFor(m => m.CustomerDto.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerDto.name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerDto.membershipTypeId)
        @Html.DropDownListFor(m => m.CustomerDto.membershipTypeId, new SelectList(Model.MembershipTypes,"Id","Name"), "Select Membership Type" ,new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerDto.dateOfBirth)
        @Html.TextBoxFor(m => m.CustomerDto.dateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", @type="date" })
        @Html.ValidationMessageFor(m => m.CustomerDto.dateOfBirth)
    </div>

    <div class="form-check">
        <label class="form-check-label" for="exampleRadios1">
            @Html.CheckBoxFor(m => m.CustomerDto.IsSubscribedToNewsLetter)
            @Html.LabelFor(m => m.CustomerDto.IsSubscribedToNewsLetter, "Subscribed to Newsletter?", new { @class = "form-check-label" })
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    

    @Html.HiddenFor(m => m.CustomerDto.Id)
    @Html.AntiForgeryToken()
        }
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
